.theme-toggle {
    display: inline-block;
    position: absolute;
    width: 56px;
    height: 28px;
    top: 24px;
    right: 24px;
    cursor: pointer;
    border-radius: 99px;
    z-index: 99;
    box-shadow: 0px 0px 7px #919191 inset;
    background-color: #fff;

    &.dark {
        background-color: #131313;
        box-shadow: 0px 0px 7px #000 inset;
    }
}

.toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2px;
    left: 30px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #000;
    transition: all 0.3s ease-in-out;

    &.dark {
        background-color: #959191;
        rotate: -180deg;
        left: 2px;
    }
}

.moon {
    transform: rotate(180deg);
    color: #ffdd5d;
}

.sun {
    color: #ffdd5d;
}
