@use "../GlobalStyles/GlobalStyles.scss" as *;

.todo-trash-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.heading {
    background: var(--bg-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    filter: var(--drop-shadow-text);
    color: transparent;
    text-align: center;
}

.todo-list {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    color: color-mix(in srgb, var(--primary-color1), transparent 50%);
    padding: 4px 16px;
    margin: 5px auto 0;
    background-color: transparent;
    border: 2px solid color-mix(in srgb, var(--primary-color1), transparent 50%);
    border-radius: 99px;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: var(--primary-color1);
        border-color: var(--primary-color1);
        background-color: color-mix(in srgb, var(--primary-color1), transparent 95%);
    }
}

.list-icon {
    margin-left: 5px;
}

.separate {
    margin: 10px 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-separate);
}

.todo-trash {
    --sb-track-color: #dddddd;
    --sb-thumb-color: #a7a7a7;
    --sb-size: 5px;

    margin-top: 10px;
    padding: 5px;
    overflow: overlay;

    &::-webkit-scrollbar {
        width: var(--sb-size);
    }

    &::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 5px;
    }
}

.bulk-action {
    flex: 1;
    display: inline-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;

    &.danger {
        background-color: var(--danger-color);
    }

    &.success {
        background-color: var(--success-color);
    }
}

.item-wrapper {
    position: relative;
    & + .item-wrapper {
        margin-top: 8px;
    }
}

.confirm-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        var(--danger-color) 0%,
        rgba(255, 201, 201, 0.95) 50%,
        var(--danger-color) 100%
    );
    z-index: 10;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.2s ease-in-out;
}

.confirm-button {
    border: 1px solid #000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    & + .confirm-button {
        margin-left: 30px;
    }

    height: 35px;
    width: 100px;
    border-radius: 8px;

    &.delete {
        background-color: var(--danger-color);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.action {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    &.success {
        background-color: var(--success-color);
    }

    &.danger {
        background-color: var(--danger-color);
    }
}

//Modal

.modal-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    animation: fadeIn 0.2s ease-out;
    touch-action: none;

    @include tablet {
        position: fixed;
    }
}

.modal-wrapper {
    background-color: var(--bg-component);
    padding: 20px 40px;
    border-radius: 8px;
    animation: scaleIn 0.2s ease-out;

    @include mobile {
        padding: 20px 15px;
        width: calc(100vw - 30px);
    }
}

.modal-heading {
    text-align: center;
}

.modal-content {
    margin-top: 15px;
    line-height: 1.5;
}

.modal-danger {
    color: var(--danger-color);
    font-weight: 600;
}

.modal-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.modal-action {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #dad9d9;

    &.confirm {
        background-color: var(--primary-color1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
