* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family: "Lato", sans-serif;
    --primary-color1: #00d4ff;
    --primary-color1-light: color-mix(in srgb, var(--primary-color1), transparent 75%);
    --primary-color2: #090979;
    --success-color: #2ecc71;
    --danger-color: #e74d3c;
    --bg-gradient-text: linear-gradient(to right, #020024 0%, #090979 50%, #00d4ff 100%);
    --bg-gradient: linear-gradient(141deg, #020024 0%, #090979 19%, #00d4ff 100%);
    --bg-color: #020024;
    --bg-content: #fff5ee;
    --bg-component: #fff;
    --shadow-content: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --drop-shadow-text: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
    --shadow-search: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    --shadow-filter: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

    --text-color: #181818;
    --color-separate: #eee;
}

[data-theme="dark"] {
    --bg-gradient-text: linear-gradient(to right, #090979 10%, #00d4ff 50%);
    --bg-gradient: linear-gradient(141deg, #020024 0%, #090979 50%, #00d4ff 100%);
    --bg-content: #1a1a1a;
    --bg-component: #373737;
    --shadow-content: rgb(124, 124, 124) 0px 5px 15px;
    --drop-shadow-text: drop-shadow(0 2px 4px rgba(255, 255, 255, 0.34));
    --shadow-search: rgb(182 182 182) 0px 0px 7px -3px inset;
    --shadow-filter: rgb(0 0 0) 0px 0px 3px -3px inset, rgb(0 0 0 / 50%) 1px 0px 10px 1px inset;

    --text-color: #e0e0e0;

    --color-separate: #434343;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    background: var(--bg-color);
    background: var(--bg-gradient) no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    font-size: 1.6rem;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}

input.checkbox {
}
