.search-box {
    position: relative;
    margin: 25px auto 0;
    width: max-content;
    border-radius: 8px;
    border: 1.5px solid var(--primary-color2);
    background-color: var(--bg-component);
    box-shadow: var(--shadow-search);
}

.search-input {
    border: none;
    outline: none;
    font-size: 1.4rem;
    width: 66px;
    padding: 2px 10px;
    background-color: transparent;
    transition: width 0.6s ease-in-out;

    &:focus {
        width: 160px;
    }
}

.clear-btn {
    position: absolute;
    right: 36px;
    top: 0px;
    padding: 3px 2px;
    background-color: transparent;
    color: #dadada;
}

.search-button {
    display: inline-block;
    color: #fff;
    width: 36px;
    height: 23px;
    border-radius: 7px;
    background-color: var(--primary-color2);
}
