@use "../GlobalStyles/GlobalStyles.scss" as *;

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background-color: var(--bg-component);
    border-radius: 8px;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0 0 1px hsla(0, 0%, 0%, 0.05),
        0 0.3px 0.4px hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    -webkit-tap-highlight-color: transparent;

    cursor: pointer;
    transition: all 0.3s ease;

    &.completed {
        .title {
            text-decoration: line-through;
            font-style: italic;
            opacity: 0.7;
        }
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px,
            var(--success-color) 0px -20px 36px -28px inset;
    }

    & + .todo-item {
        margin-top: 8px;
    }

    &.checked {
        background-color: var(--primary-color1-light);
    }
}

.todo-item-left {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.todo-check {
    position: relative;
    display: inline-block;
    width: 50px;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        display: none;
        top: 50%;
        left: 20px;
        width: 14px;
        height: 27px;
        transform: translateY(-62%) rotate(45deg);
        background-color: transparent;
        border-bottom: 5px solid var(--primary-color1-light);
        border-right: 5px solid var(--primary-color1-light);
        box-sizing: border-box;
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
        width: 1px;
        height: 90%;
        background-color: var(--color-separate);
    }

    &.checked::before {
        display: inline-block;
    }

    &.checked::after {
        background-color: var(--primary-color1-light);
    }
}

.title {
    flex: 1;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    font-weight: 600;
    padding: 10px;
}

.edit-input {
    color: var(--text-color);
    flex: 1;
    width: 100%;
    margin: 0 10px;
    font-size: 1.6rem;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 5px 10px;
    border: 1px solid var(--primary-color1-light);
    background-color: var(--bg-component);
}

.todo-item-right {
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-completed {
    cursor: pointer;
    user-select: none;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid var(--color-separate);
    color: var(--color-separate);
    border-radius: 99px;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    &.completed {
        border-color: var(--success-color);
        color: var(--success-color);
    }

    @include tablet {
        width: 30px;
        font-size: 26px;
        border-radius: 4px;
    }
}

.todo-item-menu {
    z-index: 10;
    position: relative;
    width: 50px;
}

.actions {
    display: flex;
    flex-direction: column;
    background: var(--bg-component);
    width: 40px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.separate {
    width: 100%;
    height: 1px;
    background-color: var(--color-separate);
}

.action {
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    &.edit {
        background-color: #eee;
    }

    &.danger {
        background-color: var(--danger-color);
    }

    @include tablet {
        width: 100%;
        box-shadow: none;
        border-radius: 0;
        background-color: var(--bg-component);
    }
}
