.wrapper {
    min-width: 550px;
    height: 60vh;
    padding: 20px;
    background-color: #fff5ee;
    border-radius: 5px;
}

.todo-list {
    // tối ưu sau
    height: 300px;
    overflow: auto;
}


