.todo-list-wrapper {
    display: flex;
    flex-direction: column;
}

.heading {
    background: var(--bg-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    filter: var(--drop-shadow-text);
    color: transparent;
    text-align: center;
}

.trash {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    color: color-mix(in srgb, var(--primary-color1), transparent 50%);
    padding: 4px 16px;
    margin: 5px auto 0;
    background-color: transparent;
    border: 2px solid color-mix(in srgb, var(--primary-color1), transparent 50%);
    border-radius: 99px;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: var(--primary-color1);
        border-color: var(--primary-color1);
        background-color: color-mix(in srgb, var(--primary-color1), transparent 95%);
    }
}

.trash-icon {
    margin-left: 5px;
}

.separate {
    margin: 10px 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-separate);
}

.form {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: max-content;
    background-color: var(--bg-component);
    border: 1.5px solid var(--primary-color1);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px, rgba(0, 0, 0, 0.23) 0px 1px 6px,
        rgba(50, 50, 93, 0.25) 0px 30px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.invalid-todo {
    display: inline-block;
    position: absolute;
    font-size: 1.4rem;
    top: 31px;
    left: 10px;
    color: var(--danger-color);
}

.form-input {
    color: var(--text-color);
    font-size: 1.6rem;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 4px 10px;
}

.form-submit {
    color: var(--text-color);
    height: 100%;
    width: 30px;
    border-left: 1.5px solid var(--primary-color1);
    display: inline-flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: color-mix(in srgb, var(--primary-color1), transparent 90%);
    }
}

.filter {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: var(--shadow-filter);
    background-color: var(--bg-component);

    &.active {
        border-color: var(--danger-color);
    }
    &.all {
        border-color: var(--primary-color1-light);
    }
    &.completed {
        border-color: var(--success-color);
    }
}

.filter-tag {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 33.33%;
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &.active {
        left: 0;
        background-color: var(--danger-color);
    }

    &.all {
        left: 33.33%;
        background-color: var(--primary-color1);
    }

    &.completed {
        left: 100%;
        transform: translateX(-100%);
        background-color: var(--success-color);
    }
}

.filter-item {
    z-index: 1;
    flex: 1;
    background-color: transparent;
    transition: font-weight 0.5s ease;
    color: var(--text-color);

    &.active {
        font-weight: 600;
    }
}

.bulk-action {
    flex: 1;
    display: inline-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;

    &.danger {
        background-color: var(--danger-color);
    }

    &.primary {
        background-color: var(--primary-color1);
    }
}

.todo-list {
    --sb-track-color: #dddddd;
    --sb-thumb-color: #a7a7a7;
    --sb-size: 5px;

    margin-top: 10px;
    padding: 5px;
    overflow: overlay;

    &::-webkit-scrollbar {
        width: var(--sb-size);
    }

    &::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 5px;
    }
}
